<header class="header">
  <div class="header__container">
    <a class="header__logo-link" href="/">
      <span class="header__logo">Jonathan Kila</span>
    </a>
    
  <nav class="nav">
    <div class="nav__container">
      <%- include("menu.ejs") %>
    </div>
    <div class="header__theme-toggle-container">
    <img
      class="header__theme-toggle"
      src="./assets/icons/dark.svg"
      alt="theme toggle"
    />
  </div>
  </nav>
  </div>

</header>
