<% const pages = ["bio", "projects", "contact"] %>

<div class="menu">
  <ul class="menu__list">
    <% pages.forEach(page => { %>
    <li class="menu__item"><a class="menu__link" href=<%= page %>><%= page %> </a></li>
    <% }); %>
  </ul>
</div>