<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Jonathan Kila | Contact</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="contact">
      <div class="contact__icons">
        <% contacts.map(({link, img, ariaLabel}) => { %>
        <a class="contact__icons-link" href=<%= link %> target="_blank" rel="noreferrer">
          <img
          class="contact__icons-img"
          alt="github"
          src= <%= img %>
          aria-label= <%= ariaLabel %>
        />
      </a>
        <% }) %>
      </div>
    </div>
  </body>
</html>
