<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Jonathan Kila | Projects</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>

    <div class="projects">
      <p class="projects__text">
        Not an exhuastive list. Please check out my 
        <a class="projects__text-link"
          href="https://github.com/Excelsior2021"
          target="_blank"
          rel="noreferrer">
          GitHub</a> profile for more projects.
      </p>
      <ul class="projects__list">
        <% projects.forEach(project => { %>
          <%- include("partials/project-item.ejs", project)  %>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
