.projects {
  &__text {
    text-align: center;
    width: 92.4%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.5rem;

    @include media-desktop {
      font-size: 1.6rem;
    }
  }

  &__text-link {
    font-weight: bold;

    &--dark-mode {
      color: rgba(75, 103, 138, 0.95);
    }
  }

  &__list {
    @include media-desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 48px;
      column-gap: 48px;
      padding: 24px;
    }

    @media (min-width: 1080px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 32px;
      column-gap: 32px;
    }
  }
}
